In [ ]:
#configuración en google colab de spark y pyspark
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
#instalar java y spark
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.5.3/spark-3.5.3-bin-hadoop3.tgz
!tar xf spark-3.5.3-bin-hadoop3.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.3-bin-hadoop3"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext

In [ ]:
spark

In [ ]:
sc

In [ ]:
# Load csv Dataset
df=spark.read.csv('gdrive/MyDrive/st0263-242/bigdata/datasets/covid19/Casos_positivos_de_COVID-19_en_Colombia-100K.csv',inferSchema=True,header=True)

In [ ]:
df.columns

['fecha reporte web',
 'ID de caso',
 'Fecha de notificación',
 'Código DIVIPOLA departamento',
 'Nombre departamento',
 'Código DIVIPOLA municipio',
 'Nombre municipio',
 'Edad',
 'Unidad de medida de edad',
 'Sexo',
 'Tipo de contagio',
 'Ubicación del caso',
 'Estado',
 'Código ISO del país',
 'Nombre del país',
 'Recuperado',
 'Fecha de inicio de síntomas',
 'Fecha de muerte',
 'Fecha de diagnóstico',
 'Fecha de recuperación',
 'Tipo de recuperación',
 'Pertenencia étnica',
 'Nombre del grupo étnico']

In [ ]:
df.printSchema()

root
 |-- fecha reporte web: string (nullable = true)
 |-- ID de caso: integer (nullable = true)
 |-- Fecha de notificación: string (nullable = true)
 |-- Código DIVIPOLA departamento: integer (nullable = true)
 |-- Nombre departamento: string (nullable = true)
 |-- Código DIVIPOLA municipio: integer (nullable = true)
 |-- Nombre municipio: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Unidad de medida de edad: integer (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Tipo de contagio: string (nullable = true)
 |-- Ubicación del caso: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Código ISO del país: integer (nullable = true)
 |-- Nombre del país: string (nullable = true)
 |-- Recuperado: string (nullable = true)
 |-- Fecha de inicio de síntomas: string (nullable = true)
 |-- Fecha de muerte: string (nullable = true)
 |-- Fecha de diagnóstico: string (nullable = true)
 |-- Fecha de recuperación: string (nullable = true)
 |-- Tipo de recuperación: string (nullable = true)
 |-- Pertenencia étnica: integer (nullable = true)
 |-- Nombre del grupo étnico: string (nullable = true)

In [ ]:
df.select('fecha reporte web', 'ID de caso', 'Sexo', 'Tipo de contagio').show(10, False)

+-----------------+----------+----+----------------+
|fecha reporte web|ID de caso|Sexo|Tipo de contagio|
+-----------------+----------+----+----------------+
|6/3/2020 0:00:00 |1         |F   |Importado       |
|9/3/2020 0:00:00 |2         |M   |Importado       |
|9/3/2020 0:00:00 |3         |F   |Importado       |
|11/3/2020 0:00:00|4         |M   |Relacionado     |
|11/3/2020 0:00:00|5         |M   |Relacionado     |
|11/3/2020 0:00:00|6         |F   |Relacionado     |
|11/3/2020 0:00:00|7         |F   |Importado       |
|11/3/2020 0:00:00|8         |F   |Importado       |
|11/3/2020 0:00:00|9         |F   |Importado       |
|12/3/2020 0:00:00|10        |F   |Importado       |
+-----------------+----------+----+----------------+
only showing top 10 rows

In [ ]:
df=df.withColumnRenamed('fecha reporte web', 'fecha_reporte')

In [ ]:
df=df.withColumnsRenamed({'ID de caso': 'ID', 'Nombre del país': 'pais', 'Nombre departamento': 'departamento', 'Nombre municipio': 'municipio', 'Ubicación del caso': 'Ubicación'})

In [ ]:
df=df.withColumn('Edad_mas_10', df['Edad'] + 10)
df.show(5, False)

+-----------------+---+---------------------+----------------------------+------------+-------------------------+---------+----+------------------------+----+----------------+---------+------+-------------------+------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+-----------+-----------+
|fecha_reporte    |ID |Fecha de notificación|Código DIVIPOLA departamento|departamento|Código DIVIPOLA municipio|municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación|Estado|Código ISO del país|pais  |Recuperado|Fecha de inicio de síntomas|Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|age_group  |Edad_mas_10|
+-----------------+---+---------------------+----------------------------+------------+-------------------------+---------+----+------------------------+----+----------------+---------+------+-------------------+------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+-----------+-----------+
|6/3/2020 0:00:00 |1  |2/3/2020 0:00:00     |11                          |BOGOTA      |11001                    |BOGOTA   |19  |1                       |F   |Importado       |Casa     |Leve  |380                |ITALIA|Recuperado|27/2/2020 0:00:00          |NULL           |6/3/2020 0:00:00    |13/3/2020 0:00:00    |PCR                 |young adult|29         |
|9/3/2020 0:00:00 |2  |6/3/2020 0:00:00     |76                          |VALLE       |76111                    |BUGA     |34  |1                       |M   |Importado       |Casa     |Leve  |724                |ESPAÑA|Recuperado|4/3/2020 0:00:00           |NULL           |9/3/2020 0:00:00    |19/3/2020 0:00:00    |PCR                 |senior     |44         |
|9/3/2020 0:00:00 |3  |7/3/2020 0:00:00     |5                           |ANTIOQUIA   |5001                     |MEDELLIN |50  |1                       |F   |Importado       |Casa     |Leve  |724                |ESPAÑA|Recuperado|29/2/2020 0:00:00          |NULL           |9/3/2020 0:00:00    |15/3/2020 0:00:00    |PCR                 |senior     |60         |
|11/3/2020 0:00:00|4  |9/3/2020 0:00:00     |5                           |ANTIOQUIA   |5001                     |MEDELLIN |55  |1                       |M   |Relacionado     |Casa     |Leve  |NULL               |NULL  |Recuperado|6/3/2020 0:00:00           |NULL           |11/3/2020 0:00:00   |26/3/2020 0:00:00    |PCR                 |senior     |65         |
|11/3/2020 0:00:00|5  |9/3/2020 0:00:00     |5                           |ANTIOQUIA   |5001                     |MEDELLIN |25  |1                       |M   |Relacionado     |Casa     |Leve  |NULL               |NULL  |Recuperado|8/3/2020 0:00:00           |NULL           |11/3/2020 0:00:00   |23/3/2020 0:00:00    |PCR                 |young adult|35         |
+-----------------+---+---------------------+----------------------------+------------+-------------------------+---------+----+------------------------+----+----------------+---------+------+-------------------+------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+-----------+-----------+
only showing top 5 rows

In [ ]:
columns_to_remove=['Nombre del grupo étnico', 'Pertenencia étnica']
df=df.drop(*columns_to_remove)

In [ ]:
df.printSchema()

root
 |-- fecha_reporte: string (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Fecha de notificación: string (nullable = true)
 |-- Código DIVIPOLA departamento: integer (nullable = true)
 |-- departamento: string (nullable = true)
 |-- Código DIVIPOLA municipio: integer (nullable = true)
 |-- municipio: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Unidad de medida de edad: integer (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Tipo de contagio: string (nullable = true)
 |-- Ubicación: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Código ISO del país: integer (nullable = true)
 |-- pais: string (nullable = true)
 |-- Recuperado: string (nullable = true)
 |-- Fecha de inicio de síntomas: string (nullable = true)
 |-- Fecha de muerte: string (nullable = true)
 |-- Fecha de diagnóstico: string (nullable = true)
 |-- Fecha de recuperación: string (nullable = true)
 |-- Tipo de recuperación: string (nullable = true)
 |-- age_group: string (nullable = true)
 |-- Edad_mas_10: integer (nullable = true)

In [ ]:
filtered_df=df.filter(df.Sexo == 'F')
filtered_df.show(5, False)

+-----------------+---+---------------------+----------------------------+------------+-------------------------+---------+----+------------------------+----+----------------+---------+------+-------------------+-------------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+-----------+-----------+
|fecha_reporte    |ID |Fecha de notificación|Código DIVIPOLA departamento|departamento|Código DIVIPOLA municipio|municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación|Estado|Código ISO del país|pais                     |Recuperado|Fecha de inicio de síntomas|Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|age_group  |Edad_mas_10|
+-----------------+---+---------------------+----------------------------+------------+-------------------------+---------+----+------------------------+----+----------------+---------+------+-------------------+-------------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+-----------+-----------+
|6/3/2020 0:00:00 |1  |2/3/2020 0:00:00     |11                          |BOGOTA      |11001                    |BOGOTA   |19  |1                       |F   |Importado       |Casa     |Leve  |380                |ITALIA                   |Recuperado|27/2/2020 0:00:00          |NULL           |6/3/2020 0:00:00    |13/3/2020 0:00:00    |PCR                 |young adult|29         |
|9/3/2020 0:00:00 |3  |7/3/2020 0:00:00     |5                           |ANTIOQUIA   |5001                     |MEDELLIN |50  |1                       |F   |Importado       |Casa     |Leve  |724                |ESPAÑA                   |Recuperado|29/2/2020 0:00:00          |NULL           |9/3/2020 0:00:00    |15/3/2020 0:00:00    |PCR                 |senior     |60         |
|11/3/2020 0:00:00|6  |10/3/2020 0:00:00    |5                           |ANTIOQUIA   |5360                     |ITAGUI   |27  |1                       |F   |Relacionado     |Casa     |Leve  |NULL               |NULL                     |Recuperado|6/3/2020 0:00:00           |NULL           |11/3/2020 0:00:00   |26/3/2020 0:00:00    |PCR                 |young adult|37         |
|11/3/2020 0:00:00|7  |8/3/2020 0:00:00     |13001                       |CARTAGENA   |13001                    |CARTAGENA|85  |1                       |F   |Importado       |Casa     |Leve  |840                |ESTADOS UNIDOS DE AMÉRICA|Recuperado|2/3/2020 0:00:00           |NULL           |11/3/2020 0:00:00   |17/3/2020 0:00:00    |PCR                 |senior     |95         |
|11/3/2020 0:00:00|8  |9/3/2020 0:00:00     |11                          |BOGOTA      |11001                    |BOGOTA   |22  |1                       |F   |Importado       |Casa     |Leve  |724                |ESPAÑA                   |Recuperado|6/3/2020 0:00:00           |NULL           |11/3/2020 0:00:00   |21/3/2020 0:00:00    |PCR                 |young adult|32         |
+-----------------+---+---------------------+----------------------------+------------+-------------------------+---------+----+------------------------+----+----------------+---------+------+-------------------+-------------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+-----------+-----------+
only showing top 5 rows

In [ ]:
filtered2_df=df.filter("Sexo=='F' and Edad>20 and Recuperado like '%Recuperado%' and municipio like 'MEDELLIN'")
filtered2_df.show()

+-----------------+---+---------------------+----------------------------+------------+-------------------------+---------+----+------------------------+----+----------------+---------+------+-------------------+--------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+-----------+-----------+
|    fecha_reporte| ID|Fecha de notificación|Código DIVIPOLA departamento|departamento|Código DIVIPOLA municipio|municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación|Estado|Código ISO del país|                pais|Recuperado|Fecha de inicio de síntomas|Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|  age_group|Edad_mas_10|
+-----------------+---+---------------------+----------------------------+------------+-------------------------+---------+----+------------------------+----+----------------+---------+------+-------------------+--------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+-----------+-----------+
| 9/3/2020 0:00:00|  3|     7/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  50|                       1|   F|       Importado|     Casa|  Leve|                724|              ESPAÑA|Recuperado|          29/2/2020 0:00:00|           NULL|    9/3/2020 0:00:00|    15/3/2020 0:00:00|                 PCR|     senior|         60|
|14/3/2020 0:00:00| 20|    11/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  26|                       1|   F|     Relacionado|     Casa|  Leve|               NULL|                NULL|Recuperado|           9/3/2020 0:00:00|           NULL|   14/3/2020 0:00:00|    24/3/2020 0:00:00|                 PCR|young adult|         36|
|19/3/2020 0:00:00|108|    17/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  57|                       1|   F|       Importado|     Casa|  Leve|                724|              ESPAÑA|Recuperado|          14/3/2020 0:00:00|           NULL|   19/3/2020 0:00:00|    28/3/2020 0:00:00|                 PCR|     senior|         67|
|20/3/2020 0:00:00|131|    15/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  22|                       1|   F|       Importado|     Casa|  Leve|                724|              ESPAÑA|Recuperado|          13/3/2020 0:00:00|           NULL|   20/3/2020 0:00:00|    28/3/2020 0:00:00|                 PCR|young adult|         32|
|20/3/2020 0:00:00|135|    17/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  44|                       1|   F|       Importado|     Casa|  Leve|                276|            ALEMANIA|Recuperado|          16/3/2020 0:00:00|           NULL|   20/3/2020 0:00:00|     1/4/2020 0:00:00|                 PCR|     senior|         54|
|20/3/2020 0:00:00|141|    17/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  62|                       1|   F|       Importado|     Casa|  Leve|                191|             CROACIA|Recuperado|          10/3/2020 0:00:00|           NULL|   20/3/2020 0:00:00|    25/3/2020 0:00:00|                 PCR|     senior|         72|
|20/3/2020 0:00:00|142|    20/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  35|                       1|   F|       Importado|     Casa|  Leve|                591|              PANAMA|Recuperado|          14/3/2020 0:00:00|           NULL|   20/3/2020 0:00:00|    29/3/2020 0:00:00|                 PCR|     senior|         45|
|22/3/2020 0:00:00|238|    16/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  61|                       1|   F|       Importado|     Casa|  Leve|                724|              ESPAÑA|Recuperado|          14/3/2020 0:00:00|           NULL|   22/3/2020 0:00:00|    11/4/2020 0:00:00|              Tiempo|     senior|         71|
|23/3/2020 0:00:00|268|    19/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  37|                       1|   F|       Importado|     Casa|  Leve|                724|              ESPAÑA|Recuperado|          14/3/2020 0:00:00|           NULL|   23/3/2020 0:00:00|    26/3/2020 0:00:00|                 PCR|     senior|         47|
|23/3/2020 0:00:00|271|    18/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  21|                       1|   F|       Importado|     Casa|  Leve|                724|              ESPAÑA|Recuperado|          14/3/2020 0:00:00|           NULL|   23/3/2020 0:00:00|    29/3/2020 0:00:00|                 PCR|young adult|         31|
|23/3/2020 0:00:00|272|    18/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  47|                       1|   F|       Importado|     Casa|  Leve|                724|              ESPAÑA|Recuperado|          14/3/2020 0:00:00|           NULL|   23/3/2020 0:00:00|    29/3/2020 0:00:00|                 PCR|     senior|         57|
|23/3/2020 0:00:00|275|    23/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  21|                       1|   F|       Importado|     Casa|  Leve|                724|              ESPAÑA|Recuperado|           8/3/2020 0:00:00|           NULL|   23/3/2020 0:00:00|    23/3/2020 0:00:00|                 PCR|young adult|         31|
|23/3/2020 0:00:00|292|    19/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  43|                       1|   F|       Importado|     Casa|  Leve|                840|ESTADOS UNIDOS DE...|Recuperado|          15/3/2020 0:00:00|           NULL|   23/3/2020 0:00:00|    29/3/2020 0:00:00|                 PCR|     senior|         53|
|23/3/2020 0:00:00|293|    18/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  30|                       1|   F|       Importado|     Casa|  Leve|                218|             ECUADOR|Recuperado|          13/3/2020 0:00:00|           NULL|   23/3/2020 0:00:00|    13/4/2020 0:00:00|              Tiempo|young adult|         40|
|23/3/2020 0:00:00|294|    21/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  30|                       1|   F|       Importado|     Casa|  Leve|                840|ESTADOS UNIDOS DE...|Recuperado|          16/3/2020 0:00:00|           NULL|   23/3/2020 0:00:00|    30/3/2020 0:00:00|                 PCR|young adult|         40|
|23/3/2020 0:00:00|296|    19/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  25|                       1|   F|     Relacionado|     Casa|  Leve|               NULL|                NULL|Recuperado|          15/3/2020 0:00:00|           NULL|   23/3/2020 0:00:00|    25/4/2020 0:00:00|              Tiempo|young adult|         35|
|25/3/2020 0:00:00|438|    20/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  36|                       1|   F|     Relacionado|     Casa|  Leve|               NULL|                NULL|Recuperado|          14/3/2020 0:00:00|           NULL|   25/3/2020 0:00:00|    29/3/2020 0:00:00|                 PCR|     senior|         46|
|25/3/2020 0:00:00|450|    19/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  24|                       1|   F|     Relacionado|     Casa|  Leve|               NULL|                NULL|Recuperado|          15/3/2020 0:00:00|           NULL|   25/3/2020 0:00:00|    29/3/2020 0:00:00|                 PCR|young adult|         34|
|25/3/2020 0:00:00|466|    19/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  32|                       1|   F|     Relacionado|     Casa|  Leve|               NULL|                NULL|Recuperado|          16/3/2020 0:00:00|           NULL|   25/3/2020 0:00:00|    30/3/2020 0:00:00|                 PCR|     senior|         42|
|28/3/2020 0:00:00|595|    16/3/2020 0:00:00|                           5|   ANTIOQUIA|                     5001| MEDELLIN|  27|                       1|   F|       Importado|     Casa|  Leve|                840|ESTADOS UNIDOS DE...|Recuperado|          10/3/2020 0:00:00|           NULL|   28/3/2020 0:00:00|     7/4/2020 0:00:00|                 PCR|young adult|         37|
+-----------------+---+---------------------+----------------------------+------------+-------------------------+---------+----+------------------------+----+----------------+---------+------+-------------------+--------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+-----------+-----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType,DoubleType,IntegerType

In [ ]:
age_udf=udf(lambda age: "kid" if age < 18 else ('young adult' if age<=30 else 'senior'), StringType())
df=df.withColumn("age_group", age_udf(df.Edad))
df.filter(df['age_group']=='young adult').orderBy('Edad', ascending=False).show(10, False)

+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+--------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+-----------+
|fecha reporte web|ID de caso|Fecha de notificación|Código DIVIPOLA departamento|Nombre departamento|Código DIVIPOLA municipio|Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|Estado|Código ISO del país|Nombre del país     |Recuperado|Fecha de inicio de síntomas|Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|Pertenencia étnica|Nombre del grupo étnico|age_group  |
+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+--------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+-----------+
|19/6/2020 0:00:00|62406     |10/6/2020 0:00:00    |11                          |BOGOTA             |11001                    |BOGOTA          |30  |1                       |F   |Relacionado     |Casa              |Leve  |NULL               |NULL                |Recuperado|9/6/2020 0:00:00           |NULL           |19/6/2020 0:00:00   |12/7/2020 0:00:00    |PCR                 |6                 |NULL                   |young adult|
|21/3/2020 0:00:00|192       |20/3/2020 0:00:00    |76                          |VALLE              |76001                    |CALI            |30  |1                       |F   |Relacionado     |Casa              |Leve  |NULL               |NULL                |Recuperado|17/3/2020 0:00:00          |NULL           |21/3/2020 0:00:00   |2/4/2020 0:00:00     |PCR                 |6                 |NULL                   |young adult|
|19/6/2020 0:00:00|62398     |17/6/2020 0:00:00    |11                          |BOGOTA             |11001                    |BOGOTA          |30  |1                       |M   |Relacionado     |Casa              |Leve  |NULL               |NULL                |Recuperado|14/6/2020 0:00:00          |NULL           |19/6/2020 0:00:00   |23/7/2020 0:00:00    |Tiempo              |5                 |NULL                   |young adult|
|27/3/2020 0:00:00|517       |23/3/2020 0:00:00    |11                          |BOGOTA             |11001                    |BOGOTA          |30  |1                       |F   |Relacionado     |Casa              |Leve  |NULL               |NULL                |Recuperado|17/3/2020 0:00:00          |NULL           |27/3/2020 0:00:00   |15/4/2020 0:00:00    |PCR                 |6                 |NULL                   |young adult|
|19/6/2020 0:00:00|62380     |10/6/2020 0:00:00    |11                          |BOGOTA             |11001                    |BOGOTA          |30  |1                       |F   |Comunitaria     |Casa              |Leve  |NULL               |NULL                |Recuperado|8/6/2020 0:00:00           |NULL           |19/6/2020 0:00:00   |11/7/2020 0:00:00    |PCR                 |6                 |NULL                   |young adult|
|22/3/2020 0:00:00|213       |19/3/2020 0:00:00    |20                          |CESAR              |20001                    |VALLEDUPAR      |30  |1                       |M   |Importado       |Casa              |Leve  |724                |ESPAÑA              |Recuperado|15/3/2020 0:00:00          |NULL           |22/3/2020 0:00:00   |25/3/2020 0:00:00    |PCR                 |6                 |NULL                   |young adult|
|19/6/2020 0:00:00|62617     |16/6/2020 0:00:00    |11                          |BOGOTA             |11001                    |BOGOTA          |30  |1                       |M   |Relacionado     |Casa              |Leve  |NULL               |NULL                |Recuperado|11/6/2020 0:00:00          |NULL           |19/6/2020 0:00:00   |14/7/2020 0:00:00    |Tiempo              |6                 |NULL                   |young adult|
|13/3/2020 0:00:00|15        |13/3/2020 0:00:00    |50                          |META               |50001                    |VILLAVICENCIO   |30  |1                       |F   |Importado       |Casa              |Leve  |724                |ESPAÑA              |Recuperado|9/3/2020 0:00:00           |NULL           |13/3/2020 0:00:00   |23/3/2020 0:00:00    |PCR                 |6                 |NULL                   |young adult|
|19/6/2020 0:00:00|62384     |7/6/2020 0:00:00     |11                          |BOGOTA             |11001                    |BOGOTA          |30  |1                       |M   |Comunitaria     |Casa              |Leve  |NULL               |NULL                |Recuperado|3/6/2020 0:00:00           |NULL           |19/6/2020 0:00:00   |6/7/2020 0:00:00     |PCR                 |6                 |NULL                   |young adult|
|23/3/2020 0:00:00|248       |23/3/2020 0:00:00    |11                          |BOGOTA             |11001                    |BOGOTA          |30  |1                       |F   |Importado       |Casa              |Leve  |214                |REPÚBLICA DOMINICANA|Recuperado|16/3/2020 0:00:00          |NULL           |23/3/2020 0:00:00   |31/3/2020 0:00:00    |PCR                 |6                 |NULL                   |young adult|
+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+--------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+-----------+
only showing top 10 rows

In [ ]:
df.groupBy('departamento').count().orderBy('count', ascending=False).show(10, False)

+------------+-----+
|departamento|count|
+------------+-----+
|BOGOTA      |30016|
|BARRANQUILLA|13065|
|ATLANTICO   |10994|
|VALLE       |10404|
|CARTAGENA   |8333 |
|ANTIOQUIA   |4554 |
|NARIÑO      |3520 |
|CUNDINAMARCA|2827 |
|AMAZONAS    |2317 |
|CHOCO       |1636 |
+------------+-----+
only showing top 10 rows

In [ ]:
df.groupBy('municipio').count().orderBy('count', ascending=False).show(10, False)

+------------+-----+
|municipio   |count|
+------------+-----+
|BOGOTA      |30016|
|BARRANQUILLA|13065|
|CARTAGENA   |8333 |
|CALI        |7747 |
|SOLEDAD     |6233 |
|LETICIA     |2194 |
|MEDELLIN    |2137 |
|TUMACO      |1501 |
|BUENAVENTURA|1453 |
|QUIBDO      |1367 |
+------------+-----+
only showing top 10 rows

In [28]:
df.dropna(subset=['Fecha de inicio de síntomas']).groupBy('Fecha de inicio de síntomas').count().orderBy('count', ascending=False).show(10, False)

+---------------------------+-----+
|Fecha de inicio de síntomas|count|
+---------------------------+-----+
|10/6/2020 0:00:00          |2731 |
|16/6/2020 0:00:00          |2558 |
|18/6/2020 0:00:00          |2479 |
|12/6/2020 0:00:00          |2452 |
|1/6/2020 0:00:00           |2429 |
|8/6/2020 0:00:00           |2390 |
|17/6/2020 0:00:00          |2344 |
|5/6/2020 0:00:00           |2266 |
|9/6/2020 0:00:00           |2224 |
|19/6/2020 0:00:00          |2162 |
+---------------------------+-----+
only showing top 10 rows

In [30]:
df.select('edad', 'age_group', 'ID').groupBy('edad', 'age_group').count().orderBy('count', ascending=False).show()

+----+-----------+-----+
|edad|  age_group|count|
+----+-----------+-----+
|  30|young adult| 2735|
|  29|young adult| 2611|
|  31|     senior| 2569|
|  28|young adult| 2540|
|  27|young adult| 2494|
|  26|young adult| 2436|
|  33|     senior| 2371|
|  32|     senior| 2362|
|  25|young adult| 2335|
|  34|     senior| 2310|
|  35|     senior| 2292|
|  24|young adult| 2214|
|  36|     senior| 2175|
|  37|     senior| 2132|
|  38|     senior| 2098|
|  40|     senior| 2050|
|  23|young adult| 2041|
|  39|     senior| 1985|
|  22|young adult| 1879|
|  41|     senior| 1783|
+----+-----------+-----+
only showing top 20 rows

In [31]:
from pyspark.sql.functions import col
df.filter(col('Fecha de muerte').isNotNull()).groupBy('age_group').count().orderBy('count', ascending=False).show()

+-----------+-----+
|  age_group|count|
+-----------+-----+
|     senior| 5435|
|young adult|  151|
|        kid|   47|
+-----------+-----+

In [32]:
df.filter(col('Fecha de muerte').isNotNull()).show()

+-----------------+---+---------------------+----------------------------+--------------+-------------------------+------------+----+------------------------+----+----------------+---------+---------+-------------------+--------------------+----------+---------------------------+-----------------+--------------------+---------------------+--------------------+-----------+-----------+
|    fecha_reporte| ID|Fecha de notificación|Código DIVIPOLA departamento|  departamento|Código DIVIPOLA municipio|   municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación|   Estado|Código ISO del país|                pais|Recuperado|Fecha de inicio de síntomas|  Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|  age_group|Edad_mas_10|
+-----------------+---+---------------------+----------------------------+--------------+-------------------------+------------+----+------------------------+----+----------------+---------+---------+-------------------+--------------------+----------+---------------------------+-----------------+--------------------+---------------------+--------------------+-----------+-----------+
|20/3/2020 0:00:00|152|    18/3/2020 0:00:00|                          11|        BOGOTA|                    11001|      BOGOTA|  65|                       1|   M|       Importado|Fallecido|Fallecido|                840|ESTADOS UNIDOS DE...| Fallecido|          10/3/2020 0:00:00| 5/4/2020 0:00:00|   20/3/2020 0:00:00|                 NULL|                NULL|     senior|         75|
|20/3/2020 0:00:00|153|    18/3/2020 0:00:00|                          11|        BOGOTA|                    11001|      BOGOTA|  53|                       1|   F|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|          18/3/2020 0:00:00| 6/4/2020 0:00:00|   20/3/2020 0:00:00|                 NULL|                NULL|     senior|         63|
|20/3/2020 0:00:00|157|    20/3/2020 0:00:00|                       47001|STA MARTA D.E.|                    47001| SANTA MARTA|  88|                       1|   M|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|          12/3/2020 0:00:00|23/3/2020 0:00:00|   20/3/2020 0:00:00|                 NULL|                NULL|     senior|         98|
|21/3/2020 0:00:00|188|    17/3/2020 0:00:00|                          76|         VALLE|                    76892|       YUMBO|  70|                       1|   F|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|           8/3/2020 0:00:00|22/3/2020 0:00:00|   21/3/2020 0:00:00|                 NULL|                NULL|     senior|         80|
|16/3/2020 0:00:00|197|    13/3/2020 0:00:00|                       13001|     CARTAGENA|                    13001|   CARTAGENA|  58|                       1|   M|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|           6/3/2020 0:00:00|16/3/2020 0:00:00|   16/3/2020 0:00:00|                 NULL|                NULL|     senior|         68|
|22/3/2020 0:00:00|232|    20/3/2020 0:00:00|                          11|        BOGOTA|                    11001|      BOGOTA|  59|                       1|   F|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|          13/3/2020 0:00:00|26/3/2020 0:00:00|   22/3/2020 0:00:00|                 NULL|                NULL|     senior|         69|
|23/3/2020 0:00:00|250|    23/3/2020 0:00:00|                          11|        BOGOTA|                    11001|      BOGOTA|  76|                       1|   M|     Comunitaria|Fallecido|Fallecido|               NULL|                NULL| Fallecido|          10/3/2020 0:00:00|25/3/2020 0:00:00|   23/3/2020 0:00:00|                 NULL|                NULL|     senior|         86|
|23/3/2020 0:00:00|261|    23/3/2020 0:00:00|                          11|        BOGOTA|                    11001|      BOGOTA|  61|                       1|   M|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|           5/3/2020 0:00:00| 4/4/2020 0:00:00|   23/3/2020 0:00:00|                 NULL|                NULL|     senior|         71|
|23/3/2020 0:00:00|282|    20/3/2020 0:00:00|                          76|         VALLE|                    76001|        CALI|  40|                       1|   M|       Importado|Fallecido|Fallecido|                840|ESTADOS UNIDOS DE...| Fallecido|          14/3/2020 0:00:00|15/4/2020 0:00:00|   23/3/2020 0:00:00|                 NULL|                NULL|     senior|         50|
|23/3/2020 0:00:00|286|    21/3/2020 0:00:00|                          41|         HUILA|                    41001|       NEIVA|  83|                       1|   F|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|          18/3/2020 0:00:00| 6/4/2020 0:00:00|   23/3/2020 0:00:00|                 NULL|                NULL|     senior|         93|
|24/3/2020 0:00:00|314|    20/3/2020 0:00:00|                          52|        NARIÑO|                    52356|     IPIALES|  62|                       1|   M|       Importado|Fallecido|Fallecido|                218|             ECUADOR| Fallecido|          19/3/2020 0:00:00| 9/4/2020 0:00:00|   24/3/2020 0:00:00|                 NULL|                NULL|     senior|         72|
|24/3/2020 0:00:00|326|    21/3/2020 0:00:00|                          66|     RISARALDA|                    66001|     PEREIRA|  61|                       1|   M|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|          18/3/2020 0:00:00|30/3/2020 0:00:00|   24/3/2020 0:00:00|                 NULL|                NULL|     senior|         71|
|24/3/2020 0:00:00|389|    23/3/2020 0:00:00|                          11|        BOGOTA|                    11001|      BOGOTA|  73|                       1|   M|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|          19/3/2020 0:00:00|28/3/2020 0:00:00|   24/3/2020 0:00:00|                 NULL|                NULL|     senior|         83|
|24/3/2020 0:00:00|415|    21/3/2020 0:00:00|                          11|        BOGOTA|                    11001|      BOGOTA|  62|                       1|   M|     Comunitaria|Fallecido|Fallecido|               NULL|                NULL| Fallecido|          14/3/2020 0:00:00|10/6/2020 0:00:00|   24/3/2020 0:00:00|                 NULL|                NULL|     senior|         72|
|25/3/2020 0:00:00|425|    21/3/2020 0:00:00|                          76|         VALLE|                    76834|       TULUA|  80|                       1|   F|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|          18/3/2020 0:00:00| 4/4/2020 0:00:00|   25/3/2020 0:00:00|                 NULL|                NULL|     senior|         90|
|26/3/2020 0:00:00|491|    25/3/2020 0:00:00|                          11|        BOGOTA|                    11001|      BOGOTA|  84|                       1|   M|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|          17/3/2020 0:00:00|26/3/2020 0:00:00|   26/3/2020 0:00:00|                 NULL|                NULL|     senior|         94|
|27/3/2020 0:00:00|510|    23/3/2020 0:00:00|                          11|        BOGOTA|                    11001|      BOGOTA|  72|                       1|   M|     Comunitaria|Fallecido|Fallecido|               NULL|                NULL| Fallecido|          20/3/2020 0:00:00| 2/4/2020 0:00:00|   27/3/2020 0:00:00|                 NULL|                NULL|     senior|         82|
|27/3/2020 0:00:00|514|    22/3/2020 0:00:00|                          11|        BOGOTA|                    11001|      BOGOTA|  71|                       1|   M|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|           6/3/2020 0:00:00| 8/4/2020 0:00:00|   27/3/2020 0:00:00|                 NULL|                NULL|     senior|         81|
|27/3/2020 0:00:00|533|    24/3/2020 0:00:00|                        8001|  BARRANQUILLA|                     8001|BARRANQUILLA|  25|                       1|   M|       Importado|Fallecido|Fallecido|                724|              ESPAÑA| Fallecido|          18/3/2020 0:00:00| 2/4/2020 0:00:00|   27/3/2020 0:00:00|                 NULL|                NULL|young adult|         35|
|27/3/2020 0:00:00|535|    24/3/2020 0:00:00|                           8|     ATLANTICO|                     8758|     SOLEDAD|  50|                       1|   M|     Relacionado|Fallecido|Fallecido|               NULL|                NULL| Fallecido|          15/3/2020 0:00:00|27/3/2020 0:00:00|   27/3/2020 0:00:00|                 NULL|                NULL|     senior|         60|
+-----------------+---+---------------------+----------------------------+--------------+-------------------------+------------+----+------------------------+----+----------------+---------+---------+-------------------+--------------------+----------+---------------------------+-----------------+--------------------+---------------------+--------------------+-----------+-----------+
only showing top 20 rows

Using SparkSQL

In [33]:
df.createOrReplaceTempView("covid19")

In [34]:
spark.sql("select departamento, count(*) as count from covid19 group by departamento order by count desc").show(10)

+------------+-----+
|departamento|count|
+------------+-----+
|      BOGOTA|30016|
|BARRANQUILLA|13065|
|   ATLANTICO|10994|
|       VALLE|10404|
|   CARTAGENA| 8333|
|   ANTIOQUIA| 4554|
|      NARIÑO| 3520|
|CUNDINAMARCA| 2827|
|    AMAZONAS| 2317|
|       CHOCO| 1636|
+------------+-----+
only showing top 10 rows

In [35]:
spark.sql("select municipio, count(*) as count from covid19 group by municipio order by count desc").show(10)

+------------+-----+
|   municipio|count|
+------------+-----+
|      BOGOTA|30016|
|BARRANQUILLA|13065|
|   CARTAGENA| 8333|
|        CALI| 7747|
|     SOLEDAD| 6233|
|     LETICIA| 2194|
|    MEDELLIN| 2137|
|      TUMACO| 1501|
|BUENAVENTURA| 1453|
|      QUIBDO| 1367|
+------------+-----+
only showing top 10 rows

In [36]:
spark.sql("""select `Fecha de inicio de síntomas` as fecha, count(*) as count from covid19 where
 `Fecha de inicio de síntomas` is not NULL group by fecha order by count desc limit 10""").show()

+-----------------+-----+
|            fecha|count|
+-----------------+-----+
|10/6/2020 0:00:00| 2731|
|16/6/2020 0:00:00| 2558|
|18/6/2020 0:00:00| 2479|
|12/6/2020 0:00:00| 2452|
| 1/6/2020 0:00:00| 2429|
| 8/6/2020 0:00:00| 2390|
|17/6/2020 0:00:00| 2344|
| 5/6/2020 0:00:00| 2266|
| 9/6/2020 0:00:00| 2224|
|19/6/2020 0:00:00| 2162|
+-----------------+-----+

In [37]:
spark.sql('select edad, age_group,count(*) as count from covid19 group by edad, age_group order by count desc').show()

+----+-----------+-----+
|edad|  age_group|count|
+----+-----------+-----+
|  30|young adult| 2735|
|  29|young adult| 2611|
|  31|     senior| 2569|
|  28|young adult| 2540|
|  27|young adult| 2494|
|  26|young adult| 2436|
|  33|     senior| 2371|
|  32|     senior| 2362|
|  25|young adult| 2335|
|  34|     senior| 2310|
|  35|     senior| 2292|
|  24|young adult| 2214|
|  36|     senior| 2175|
|  37|     senior| 2132|
|  38|     senior| 2098|
|  40|     senior| 2050|
|  23|young adult| 2041|
|  39|     senior| 1985|
|  22|young adult| 1879|
|  41|     senior| 1783|
+----+-----------+-----+
only showing top 20 rows

In [ ]:
spark.sql('''select age_group, count(*) as count from covid19 where
`Fecha de muerte` is not null group by age_group order by count desc''').show()

+-----------+-----+
|  age_group|count|
+-----------+-----+
|     senior| 5435|
|young adult|  147|
|        kid|   51|
+-----------+-----+